{% extends "base.html" %}

{% block pageHeader %}
    <h2 class="page-title">
        文章列表
    </h2>
{% endblock %}

{% block css %}
    <style>
        .sr-only {
            display: none;
        }

        /* 调整分页组件的整体样式 */
        .pagination {
            margin-top: 10px; /* 在分页组件上方添加一些空间 */
        }

        /* 调整每个页码按钮的样式 */
        .pagination .page-item .page-link {
            padding: 5px 10px; /* 调整按钮的内边距 */
            font-size: 16px; /* 调整按钮的文字大小 */
            border-radius: 4px; /* 调整按钮的边框半径 */
        }

        /* 调整跳转框的样式 */
        .page-input {
            width: 60px;
            height: 40px;
            margin-top: 5px;
            margin-inline: 5px;
        }

        /* 调整跳转按钮的样式 */
        .page-jump {
            width: 60px;
            height: 40px;
            margin-top: 5px;
            margin-inline: 5px;
        }

        /* 设置placeholder文本的样式 */
        .page-input::placeholder {
            text-align: center; /* 使placeholder文本居中 */
        }
    </style>

{% endblock %}

{% block content %}

    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table
                            class="table table-vcenter card-table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>标签</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th class="w-8">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="text-secondary">
                                    <a href="{{ url_for('blog_controller.blog_post', post_id=post.id) }}">{{ post.title }}</a>
                                </td>
                                <td class="text-secondary">
                                    <div class="post">
                                        <!-- ... existing post details ... -->
                                        <div class="post-labels">
                                            {% for tag in post.tags %}
                                                <span class="label">{{ tag.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </td>
                                <td class="text-secondary">{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}
                                </td>
                                <td class="text-secondary">{{ post.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{{ url_for('blog_controller.edit_post_page', post_id=post.id) }}"
                                           class="btn btn-dark">
                                            编辑
                                        </a>
                                        <a href="{{ url_for('blog_controller.delete_post_page', post_id=post.id) }}"
                                           onclick="return confirm('你确定要删除这篇博客吗？');"
                                           class="btn btn-danger">
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{ pagination.links }}
            {% if pagination.total_pages > 1 %}
                <input type="text" class="form-control page-input" placeholder="页码">
                <button class="btn btn-primary page-jump">跳转</button>
            {% endif %}
        </div>
        <div class="col-12">
            <h3 class="ui dividing header">标签云</h3>
            <div id="tagcloud" data-tags="{{ tags }}" class="card"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/jQuery/jquery-3.7.0.js"></script>
    <script>
        function generateTagCloud(tags) {
            const width = 960, height = 480;

            const svg = d3.select("#tagcloud").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            const layout = d3.layout.cloud()
                .size([width, height])
                .words(tags)
                .padding(5)
                .rotate(function () {
                    return ~~(Math.random() * 5) * 45;
                })
                .fontSize(function (d) {
                    return d.tag_freq * 8;
                })
                .on("end", draw);

            layout.start();

            function draw(words) {
                svg.selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function (d) {
                        return d.tag_freq + "em";
                    })
                    .style("font-family", "Impact")
                    .attr("text-anchor", "middle")
                    .attr("transform", function (d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function (d) {
                        return d.tag_name;
                    });
            }
        }

        {#const tags = [#}
        {#    {tag_name: "阿里云", tag_freq: 100},#}
        {#    {tag_name: "pycharm", tag_freq: 20},#}
        {#    // ...#}
        {#];#}

        const jsonString = document.getElementById('tagcloud').getAttribute('data-tags');
        const tags = JSON.parse(jsonString);
        generateTagCloud(tags);
    </script>
    <script>
        $(document).ready(function () {
            $('.page-jump').click(function () {
                var page = $('.page-input').val();
                var maxPage = {{ pagination.total_pages }};
                if ($.isNumeric(page) && page > 0 && page <= maxPage) {
                    window.location.href = window.location.pathname + '?page=' + page;
                } else {
                    alert('请输入正确的页码！');
                }
            });
        });
    </script>
{% endblock %}
