{% extends "base.html" %}
{% block title %}
    编辑博客
{% endblock %}
{% block head %}
    <script src="/static/marked/marked.min.js"></script>
    <link href="/static/markdown/markdown2.css" rel="stylesheet"/>
{% endblock %}
{% block pageHeader %}
    <h2 class="page-title">
        编辑博客
    </h2>
{% endblock %}
{% block content %}
    <div class="row row-cards">
        <div class="col-md-6">
            <form class="card" method="post">
                {{ form.hidden_tag() }}
                {#                {{ csrf_token }}#}
                <div class="card-header">
                    <h3 class="card-title">Markdown编辑</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label required">文章标题</label>
                        <div>
                            {{ form.title(class_='form-control') }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required">文章内容</label>
                        <div>
                            {{ form.content(id='editor', class_='form-control',style="height: 15em;") }}
                            <small class="form-hint">
                                支持markdown语法。
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    {{ form.submit(class_='btn btn-primary') }}
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="card">
                <div class="card-header">
                    <h3 class="card-title">Markdown预览</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <div id="preview" class="markdown-body2"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('editor').oninput = function () {
            var markdownText = this.value;
            document.getElementById('preview').innerHTML = marked.parse(markdownText);
            // 自动滚动到预览区域的底部
            document.getElementById('preview').scrollTop = document.getElementById('preview').scrollHeight;
        };
    </script>

{% endblock %}
